@import url(./reset.css);
@import url(./container.css);
@import url(./pretendard.css);
@import url(./header.css);
@import url(./footer.css);

body,header,footer {font-family: 'Pretendard';}

div.sub_cnts {padding-top: 130px;}
div.sub_cnts > div.container div.banner_box {width: 100%;}
div.sub_cnts > div.container div.banner_box ul.banner_box_list {gap: 32px;}
div.sub_cnts > div.container div.banner_box ul.banner_box_list li {height: 420px;}
div.sub_cnts > div.container div.banner_box ul.banner_box_list li div.img_box {width: 100%;height: 420px;position: relative;}
div.sub_cnts > div.container div.banner_box ul.banner_box_list li div.img_box div.img_box_txt {position: absolute;top: 90px;left: 100px; }
div.sub_cnts > div.container div.banner_box ul.banner_box_list li div.img_box div.img_box_txt p.txt_title {font-size: 60px;font-weight: 700; color: #fff;line-height: 80px; border-bottom: 1px solid #fff;animation: text-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;} 
div.sub_cnts > div.container div.banner_box ul.banner_box_list li div.img_box div.img_box_txt p.txt_title_weight {font-size: 60px;font-weight: 400; color: #fff;line-height: 80px;border-bottom: 1px solid #fff;animation: text-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;}
div.sub_cnts > div.container div.banner_box ul.banner_box_list li div.img_box div.img_box_txt p.txt_title_weight2 {font-size: 60px;font-weight: 100; color: #fff;line-height: 80px;animation: text-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;}
div.sub_cnts > div.container div.banner_box ul.banner_box_list li div.img_box div.img_box_txt p.txt_sub_title {font-size: 16px; color: #ffffffda; line-height: 24px;}
div.sub_cnts > div.container div.banner_box ul.banner_box_list li div.img_box img {width: 100%;height: 420px;border-radius: 12px;}
div.slick-track {gap: 32px;display: flex;}

/* 텍스트 애니메이션 */

@keyframes text-clip {
    from {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%)
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
}